.editor-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-container {
  position: absolute;
  border: 1px solid black;
  padding-left: 1%;
  bottom: 5%;
  left: 20%;
  width: 800px;
  height: 380px;
}
